.navbar-nav {
  margin: auto;
  display: flex;
  justify-content: center;
}

#banner-section {
  text-align: center;
  padding: 50px 0;
  background-color: #291467;
  color: #eeaa00;
}

.navbar-light .navbar-nav .nav-link {
  color: #eeaa00;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.title-main {
    text-align: center;
    margin: 0 0 .5em 0;
}

#about-section {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 50px;
  line-height: 2em;
  max-width: 80%;
  color: #333;
}

mark {
  background-color: #291467;
  color: #eeaa00;
  font-weight: bold;
}

.triangle-1 {
  position: relative;
  background: #2c3e50;
  height: 0vh;
}

.triangle-1::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 40px 0 40px;
  border-color: #291467 transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}

img {
  display: block;
  width: 100%;
}

#projects-section {
  width: 100%;
  background-color: #291467;
  padding: 1em 0;
  color: #eeaa00;
  overflow: hidden;
}

article {
  display: flex;
  width: 200%;
  animation: bannermove 20s linear infinite;
}

div {
  width: 100%;
}

ul.list-slider {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

li.item-slider {
  width: 100%;
  padding: 0 .2em;
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
